.client__title {
  margin-bottom: 50px;
}

.client__logo-block {
  display: flex;
  fill: #afb1b8;
}

.client__logo {
  width: 106px;
  height: 60px;
}

.client__logo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  margin-right: 30px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__logo-item:last-child {
  margin-right: 0px;
}

.client__logo-item:hover,
.client__logo-item:focus {
  border-color: #2196f3;
}

.client__logo-item:hover,
.client__logo-item:focus {
  fill: #2196f3;
}
