.team {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
    var(--tertiary-background-color),
    var(--tertiary-background-color)
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.team__title {
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  margin-left: -30px;
}

.team__item {
  flex-basis: calc(100% / 4) - 30px;
  margin-left: 30px;
}
